<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Path y nombre de carpetas -->
		<add key="Path" value="C:\Pasantia\" />

		<add key="CarpetaIN" value="IN"/>
		<add key="CarpetaPendienteIN" value="PENDIENTE" />
		<add key="CarpetaEnProcesoIN" value="EN PROCESO" />
		<add key="CarpetaProcesadoIN" value="PROCESADO"/>
		<add key="CarpetaNoProcesadoIN" value="NO PROCESADO"/>
		<add key="CarpetaLogIN" value="LOG"/>

		<add key="CarpetaOUT" value="OUT"/>
		<add key="CarpetaEnProcesoOUT" value="EN PROCESO"/>
		<add key="CarpetaPendienteOUT" value="PENDIENTE"/>
		<add key="CarpetaBackupOUT" value="BACKUP"/>
		<add key="CarpetaLogOUT" value="LOG"/>

		<add key="CarpetaCONFIG" value="CONFIG"/>
		<add key="CarpetaCTRL" value="CTRL"/>

		<!-- Nombre de archivos xml -->
		<add key="Empresas" value="Empresas.xml"/>
		<add key="Interfaces" value="Interfaces.xml"/>
		<add key="Urls" value="Urls.xml"/>
		<add key="Usuarios" value="Usuarios.xml"/>
		
		

	</appSettings>
</configuration>