<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfileIN" xsi:type="File" fileName="C:\Pasantia\IN\LOG\IN.log" />
		<target name="logfileOUT" xsi:type="File" fileName="C:\Pasantia\OUT\LOG\OUT.log" />
	</targets>

	<rules>
		<logger name="loggerIn" minlevel="Info" writeTo="logfileIN" />
		<logger name="loggerOut" minlevel="Info" writeTo="logfileOUT" />
	</rules>
</nlog>